<div>
  {{#each randomBeer}}
    <div class='images'>
      <img src='{{image_url}}' alt='' />
    </div>
    <div>
      {{name}}
    </div>
    <div>
      {{description}}
    </div>
    <div>
      {{tagline}}
    </div>
    <div>
      {{food_pairing}}
    </div>
    <div>
      {{brewer_tips}}
    </div>
  {{/each}}
</div>